NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=YOUR_PROJECT.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
NEXT_PUBLIC_FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASE_ADMIN_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_ADMIN_CLIENT_EMAIL=YOUR_SERVICE_ACCOUNT_EMAIL
FIREBASE_ADMIN_PRIVATE_KEY="YOUR_FIREBASE_ADMIN_PRIVATE_KEY"
BOURBON_ADMIN_FIREBASE_UID=YOUR_FIREBASE_UID
ADMIN_UPDATE_TOKEN=YOUR_RUNTIME_API_ADMIN_TOKEN